<Context>
    <Resource auth="Container"
              driverClassName="org.apache.derby.jdbc.EmbeddedDriver"
              maxActive="8" maxIdle="4"
              name="jdbc/tutorialDS" type="javax.sql.DataSource"
              url="jdbc:derby:tutorialDB;create=true"
              username="" password="" />
</Context>